{{define "top"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Document</title>
</head>
<body>
    <div class="account">
        <img class="account-icon" src="{{.Account.Avatar}}" width="100px">
        <h2><a class="account-displayname" href="{{.Account.Url}}">{{.Account.DisplayName}}</a></h2>
    </div>
    <ul class="load-button-list">
        {{if not .AllFetched}}<li class="load-button"><form action="/status/cursor/last" method="post"><button>より古い投稿を読み込む</button></form></li>{{end}}
            <li class="load-button"><form action="/status/cursor/head" method="post"><button>より新しい投稿を読み込む</button></form></li>
    </ul>
    <ul>
        {{range .Statuses}}
            <li class="status">
                <div class="status-createdat">{{.CreatedAt.Format "2006-01-02 15:04:05"}}</div>
                <div>{{.Text}}</div>
            </li>
        {{end}}
    </ul>
    <ul class="load-button-list">
        {{if not .AllFetched}}<li class="load-button"><form action="/status/cursor/last" method="post"><button>より古い投稿を読み込む</button></form></li>{{end}}
        <li class="load-button"><form action="/status/cursor/head" method="post"><button>より新しい投稿を読み込む</button></form></li>
    </ul>
</body>
</html>
{{end}}
